{% extends "layout.html" %}


{% block MainContent %}

<div class="container d-flex justify-content-center">
    <br><br>
    <div class="col-md-6">

        {{session}}
        {% if session.get('is_logged_in') != None %}
                {% if session['is_logged_in'] == False %}
                    <div class="alert alert-warning" role="alert">
                        In order to vote this post, you must be <b>Logged In</b>
                    </div>
                {% endif %}
        {% endif %}
        
        
        <!-- <div class="alert alert-warning" role="alert">
            In order to vote this post, you must be <b>Logged In</b>
        </div> -->
        

        <div class="card my-3">
            <div class="card-header">
                Posted by
                    <b><a href="{{url_for('views.fHandleViewProfilePage', uid = postData.post[1])}}"> {{
                            postData.post[3] }} </a></b>
                    at <b> {{ postData.post[7] }} </b>
            </div>

            <div class="card-body">
                <h3>{{ postData.post[4] }}</h3><br>
                <p>
                    {{ postData.post[5] }}
                </p>

                <form action="" method="post">
                    {% for x in range(postData.options | length) %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option" id="{{x}}" value="{{x}}">
                        <label for="{{x}}" class="form-check-label">{{ postData.options[x][3] }}</label>
                    </div>
                    {% endfor %}

                    <br>
                    <div class="d-grid gap-2 my-3">
                        <button class="btn btn-primary" type="submit">Vote</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}