{% extends "layout.html" %}


{% block MainContent %}

<div class="container">
    <div class="card">
        <h5 class="card-header">{{ postData.post[2] }}, {{ postData.post[7] }}</h5>
        <div class="card-body">
            <h3>{{ postData.post[4] }}</h3><br>
            {{ postData.post[5] }}
            <br>
            <form action="" method="post">
                {% for x in range(postData.options | length) %}
            <label>{{ postData.options[x][3] }}<input type="radio" name="option" value="{{x}}"></label><br>
            {% endfor %}
            <button type="submit">Vote</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}